/* COMMON */
body{
  color: #333;
  font-size: 16px;
  /* 占쎈？占쎈뱜�뤃�벀由� */
  font-weight: 400;
  /* 餓κ쑬�꼥占쎌뵠 */
  line-height: 1.4;
  /* �뤃�덌옙 占쎈？占쎈뱜 占쎌읅占쎌뒠 */
  font-family: 'Nanum Gothic', sans-serif;
   /* height: 3000px;  */
}
img{
  display: block;
  
}
.inner{
  width: 1100px;
  margin: 0 auto;
  position: relative;
}
a{
  /* 占쎌읈筌ｍ걨 獄쏅쵐夷わ옙�젫椰꾬옙 */
  text-decoration: none;
  color:#333;
}

.btn{
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: .4s;
}
.btn:hover{
  background-color: #333;
  color:#fff;
}
.btn.btn--reverse{
  background-color: #333;
  color: #fff;
}
.btn.btn--reverse:hover{
  background-color:transparent;
  color: #333;
}
.btn.btn--brown{
  color: #592B18;
  border-color: #592B18;
}
.btn.btn--brown:hover{
  color: #fff;
  background-color: #592B18;
}
.btn.btn--gold{
  color: #D9AA8A;
  border-color: #D9AA8A;
}
.btn.btn--gold:hover{
  color: #fff;
  background-color: #D9AA8A;
}
.btn.btn--white{
  color: #fff;
  border-color: #fff;
}
.btn.btn--white:hover{
  color: #333;
  background-color: #fff;
}


/* HEADER */
header{
  
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
  z-index: 9;
}
header > .inner{

  height: 120px;

}
header .logo{
  height: 75px;
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  margin: auto;
  
}
header .sub-menu{
  display: flex;
  top: 10px;
  right: 0;
  position: absolute;
}
header .sub-menu ul.menu{
  font-family: Arial,sans-serif;
  display: flex;
}
header .sub-menu ul.menu li{
  position: relative;
}
header .sub-menu ul.menu li::before{
  content: "";
  display: block;
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
header .sub-menu ul.menu li:first-child::before{
  display: none;
}
header .sub-menu ul.menu li a{
 
  font-size: 12px;
  padding: 11px 16px;
  display: block;
  color: #656565;
 
}
header .sub-menu ul.menu li a:hover{
  background-color: black;
}
header .sub-menu ul.menu li span {
  font-size: 12px;
  padding: 11px 16px;
  display: block;
  color: #656565;
}

header .sub-menu .search {
 
  height: 34px;
  position: relative;
}
header .sub-menu .search input{
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline:none;
  background-color:#fff;
  color: #777;
  font-size: 12px;
  transition: width .4s;
}
header .sub-menu .search input:focus{
  width: 190px;
  border-color: #669900;
}
header .sub-menu .search .material-icons{
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  transition: .4s;
}
header .sub-menu .search.focused .material-icons{
  opacity: 0;

}
header .main-menu{
  height: 60px;
  padding-top: 10px;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
header .main-menu li.item:hover .item__name a{
 
  color: #669900;
}
header .main-menu .item:hover .item__name{
  background-color: #2c2a29;
  color: #669900;
  border-radius: 6px 6px 0 0;
}
header .main-menu .item .item__name{
  padding: 10px 20px 34px 20px;
  font-family: Arial, sans-serif;
  font-size: 13px;
}
header .main-menu .item .item__nameA{
  padding: 14px 20px 34px 20px;
  font-family: Arial, sans-serif;
  font-size: 13px;
}
header .main-menu .item .item__nameA a{
	color: black;
}
header .main-menu .item .item__nameA a:hover{
	text-decoration: none;
}
header .main-menu .item:hover .item__contents{
 display: block;
}
header .main-menu .item .item__contents{
  width: 100%;
  margin-top: -12px;
  position: fixed;
  left:0;
  display: none;
}
header .main-menu .item .item__contents .contents__menu{
  background-color: #2c2a29;
  
}
header .main-menu .item .item__contents .contents__menu > ul{
  display: flex;
  padding: 20px 0;
}
header .main-menu .item .item__contents .contents__menu > ul >li{
  width: 220px;
}
header .main-menu .item .item__contents .contents__menu > ul >li h4{
 padding: 3px 0 12px 0;
 font-size: 14px;
 color: #fff; 
}

header .main-menu .item .item__contents .contents__menu > ul >li ul li{
  padding: 5px 0;
  font-size: 12px;
  color: #999;
  cursor: pointer;
}
header .main-menu .item .item__contents .contents__menu > ul >li ul li:hover{
  color: #669900;

}
header .main-menu .item .item__contents .contents__texture{
  padding: 26px 0;
  font-size: 12px;
  background-image: url("");
}
header .main-menu .item .item__contents .contents__texture h4{
  color: #999;
  font-weight: 700;
 
}
header .main-menu .item .item__contents .contents__texture p{
  color: #669900;
  margin: 4px 0 14px;
  
}
/* MODAL */
#modal-container .modal{
	max-width: 960px;
	width: 100%;
	height: 400px;
}

/* VISUAL */
.visual{  
  margin-top: 120px;
  background-image: url('');  
  background-position: center;
  padding: 50px 0;
}
.visual .inner{
  height: 304px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  background-color: gray;
}
.visual .inner2{
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 40px 20px;
  align-content: flex-start;
  
}
.ai{
	position: absolute;
    margin-top: 125px;
    margin-left: 440px;
    height: 60px
}
.visual .inner2 .joblist {
	border: 3px solid skyblue;
	border-radius: 10px;
	width: 550px;
	height: 170px;
	line-height: 1.5em;
	margin: 15px 15px;
	display: flex;
	box-shadow: lightgray 0px 4px 10px 0px;
}

.visual .inner2 .joblist p{
	margin: 35px 20px;
	display: inline-block; 
	width: 340px; 
	white-space: nowrap; 
	overflow: hidden;
}

.visual .inner2 .joblist .jobimgdiv {
	margin: 30px 0px 30px 30px;
	width: 100px;
	height: 100px;
	background-image: url('http://www.worldfringe.com/wp-content/uploads/2012/07/instagram-Logo-PNG-Transparent-Background-download-200x200.png');
    background-size: contain;
}
.visual .inner2 .joblist:nth-child(2n) .jobimgdiv {
	margin: 30px 0px 30px 30px;
	width: 100px;
	height: 100px;
	background-image: url('https://cdn.theorg.com/6aa26807-55ff-4e88-8441-d451d3ea1626_thumb.png');
    background-size: contain;
}
.visual .inner2 .joblist:nth-child(3n) .jobimgdiv {
	margin: 30px 0px 30px 30px;
	width: 100px;
	height: 100px;
	background-image: url('https://blog.kakaocdn.net/dn/CNqfY/btqzjsct2YY/PfKa0QqNmiKdUticLxuAaK/img.png');
    background-size: contain;
}
.visual .inner2 .joblist:nth-child(4n) .jobimgdiv {
	margin: 30px 0px 30px 30px;
	width: 100px;
	height: 100px;
	background-image: url('https://t1.daumcdn.net/cfile/tistory/994EAB4F5D2565432F');
    background-size: contain;
}
.visual .inner2 .joblist:nth-child(5n) .jobimgdiv {
	margin: 30px 0px 30px 30px;
	width: 100px;
	height: 100px;
	background-image: url('https://mblogthumb-phinf.pstatic.net/MjAxODA5MjhfMTU4/MDAxNTM4MTIxMDM1NjEz.y_vypYsX9eNReCcIklqgl_UB2IKe_vVM_uYdSE-o2log.XClSScgwlU1PtY2b9iWQINVhHNrYReHaC9gYav-IWjgg.PNG.dnduf75/%EB%A1%9C%EA%B3%A0%EB%8B%A4%EC%9A%B4%EB%A1%9C%EB%93%9C-%ED%8A%B8%EC%9C%84%ED%84%B0%EB%A1%9C%EA%B3%A0-png-3.png?type=w800');
    background-size: contain;
}

.visual .inner2 .joblist button{
	width: 70px;
	color: black;
	background-color: white;
	border: 0.5px solid lightgray;
    border-radius: 7px;
    box-shadow: lightgray 4px 4px 5px 0px;
}

.visual .inner2 .joblist .substring {
	font-size: 9px;
	font-weight: 700;
	color: gray;
	opacity: 0.5;
}

.visual .inner2 .joblist .substring2 {
	font-size: 20px;
	font-weight: 700;
}

.visual .inner .fortpolio{
  width: 300px;
  height: 304px;
  margin: 4px;
  border: 3px solid #fff;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: white;
  overflow: hidden;  
}

.visual .inner .fortpolio:hover{
  background-color: orange;  
  z-index: 1;
  
}
.visual .inner .fortpolio .forex{
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90px;
}

.visual .inner .fortpolio:nth-child(1) .forex{ 
  background-image: url("");
}

.visual .inner .fortpolio .forex .title1{
  background-image: url("../images/visual_cup1.png");
  display: block;
  width: 98%;
  height: 60%;
  border: 1px solid red;
}
.visual .inner .fortpolio .forex  .foo1{
  width: 98%;
  height: 90.2px;
  border: 1px solid red;
}
.visual .inner .fortpolio .forex  .footer1{
  border: 1px solid red;
  height: 20px;
  width: 98%;
}
/* FOOTER */
footer{
  background-color: #272727;
  border-top: 1px solid #333;
}
footer .inner{
  padding: 40px 0 60px 0;
}
footer .menu{
  display: flex;
  justify-content: center;
}
footer .menu li{
  position: relative;
}
footer .menu li::before{
  content: "";
  width: 3px;
  height: 3px;
  background-color: #555;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -1px;
  margin: auto;
}
footer .menu li:last-child::before{
  display: none;
}
footer .menu li a{
  color: #ccc;
  font-size: 12px;
  font-weight: 700;
  padding: 15px;
  display: block;
}
footer .menu li a.green{
  color: #669900;
}
footer .btn-group{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
footer .btn-group .btn{
  font-size: 12px;
  margin-right: 10px;
}
footer .btn-group .btn:last-child{
margin-right: 0;
}
footer .info{
  margin-top: 30px;
  text-align: center;
}
footer .info span{
  margin-right: 20px;
  color: #999;
  font-size: 12px;
}
footer .info span:last-child{
  margin-right: 0;
}
footer .copyright{
  color: #999;
  font-size: 12px;
  text-align: center;
  margin-top: 12px;
}
footer .logo{
  margin: 30px auto 0;
}
/* etc */
.img_title{
  width: 75px;
  height: 75px;
}
footer .inner .logo{
  width: 75px;
  height: 75px;
}

