/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* COMMON */
body{
  color: #333;
  height: 100%;
  font-size: 16px;
  /* �룿�듃援듦린 */
  font-weight: 400;
  /* 以꾨넂�씠 */
  line-height: 1.4;
  /* 援ш� �룿�듃 �쟻�슜 */
  font-family: 'Nanum Gothic', sans-serif;
   /* height: 3000px;  */
}
img{
  display: block;
}
.inner{
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
  /* height: 100%; */
}
a{
  /* �쟾泥큑 諛묒쨪�젣嫄� */
  text-decoration: none;
  color:#333;
}
.btn{
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: .4s;
}
.btn:hover{
  background-color: #333;
  color:#fff;
}
.btn.btn--reverse{
  background-color: #333;
  color: #fff;
}
.btn.btn--reverse:hover{
  background-color:transparent;
  color: #333;
}
.btn.btn--brown{
  color: #0078FF;
  border-color: #0078FF;
}
.btn.btn--brown:hover{
  color: #fff;
  background-color: #0078FF;
}
.btn.btn--gold{
  color: #D9AA8A;
  border-color: #D9AA8A;
}
.btn.btn--gold:hover{
  color: #fff;
  background-color: #D9AA8A;
}
.btn.btn--white{
  color: #fff;
  border-color: #fff;
}
.btn.btn--white:hover{
  color: #333;
  background-color: #fff;
}


/* HEADER */
header{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
  z-index: 1;
}
header > .inner{
  height: 120px;
}
header .logo{
  height: 75px;
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  margin: auto;
  
}
header .sub-menu{
  display: flex;
  top: 10px;
  right: 0;
  position: absolute;
}
header .sub-menu ul.menu{
  font-family: Arial,sans-serif;
  display: flex;
}
header .sub-menu ul.menu li{
  position: relative;
}
header .sub-menu ul.menu li::before{
  content: "";
  display: block;
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
header .sub-menu ul.menu li:first-child::before{
  display: none;
}
header .sub-menu ul.menu li a{
 
  font-size: 12px;
  padding: 11px 16px;
  display: block;
  color: #656565;
 
}
header .sub-menu ul.menu li a:hover{
  background-color: black;
  text-decoration: none;
  color: #fff;
}
header .sub-menu ul.menu li span {
  font-size: 12px;
  padding: 11px 16px;
  display: block;
  color: #656565;
}
header .sub-menu .search {
 
  height: 34px;
  position: relative;
}
header .sub-menu .search input{
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline:none;
  background-color:#fff;
  color: #777;
  font-size: 12px;
  transition: width .4s;
}
header .sub-menu .search input:focus{
  width: 190px;
  border-color: #669900;
}
header .sub-menu .search .material-icons{
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  transition: .4s;
}
header .sub-menu .search.focused .material-icons{
  opacity: 0;

}
header .main-menu{
  height: 60px;
  padding-top: 10px;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
header .main-menu li.item:hover .item__name a{
 
  color: #669900;
}
header .main-menu .item:hover .item__name{
  background-color: #2c2a29;
  color: #669900;
  border-radius: 6px 6px 0 0;
}
header .main-menu .item .item__name{
  padding: 10px 20px 34px 20px;
  font-family: Arial, sans-serif;
  font-size: 13px;
}
header .main-menu .item .item__nameA{
  padding: 14px 20px 34px 20px;
  font-family: Arial, sans-serif;
  font-size: 13px;
}
header .main-menu .item .item__nameA a{
	color: black;
}
header .main-menu .item .item__nameA a:hover{
	text-decoration: none;
}
header .main-menu .item:hover .item__contents{
 display: block;
}
header .main-menu .item .item__contents{
  width: 100%;
  margin-top: -12px;
  position: fixed;
  left:0;
  display: none;
}
header .main-menu .item .item__contents .contents__menu{
  background-color: #2c2a29;
  
}
header .main-menu .item .item__contents .contents__menu > ul{
  display: flex;
  padding: 20px 0;
}
header .main-menu .item .item__contents .contents__menu > ul >li{
  width: 220px;
}
header .main-menu .item .item__contents .contents__menu > ul >li h4{
 padding: 3px 0 12px 0;
 font-size: 14px;
 color: #fff; 
}

header .main-menu .item .item__contents .contents__menu > ul >li ul li{
  padding: 5px 0;
  font-size: 12px;
  color: #999;
  cursor: pointer;
}
header .main-menu .item .item__contents .contents__menu > ul >li ul li:hover{
  color: #669900;

}
header .main-menu .item .item__contents .contents__texture{
  padding: 26px 0;
  font-size: 12px;
  background-image: url("");
}
header .main-menu .item .item__contents .contents__texture h4{
  color: #999;
  font-weight: 700;
 
}
header .main-menu .item .item__contents .contents__texture p{
  color: #669900;
  margin: 4px 0 14px;
  
}


/* VISUAL */
.visual{  
  margin-top: 130px;
  margin-bottom: 100px;
  background-image: url('');
  background-position: center;
  max-width: 1700px;
  /* border: 2px dotted red; */
}
.visual .inner{
  /* max-width: 1200px; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 40px 20px;
  /* background-color: gray; */
}
.visual .inner2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 960px;
  margin: 0 auto;
  padding: 40px 20px;
}
.visual .inner3 {
	max-width: 960px;
	margin: 50px auto 50px auto;
}

.visual .inner .fortpolio{
  width: 300px;
  height: 304px;
  margin: 15px;
  border: 3px solid #fff;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: white;
  overflow: hidden;
  box-shadow: lightgray 0px 4px 16px 0px;
  transition: box-shadow 0.25s ease-in 0s, margin-top 0.25s ease-in 0s;
}
.visual .inner .fortpolio:hover{
  box-shadow: gray 0px 4px 16px 0px;
  margin-top: -1px;
  z-index: 1;
  
}
.visual .inner .fortpolio .forex{
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90px;
}
.visual .inner .fortpolio:nth-child(1) .forex{ 
  background-image: url("");
}
.visual .inner .fortpolio .forex .title1{
  background-image: url("../images/madongsuk-thumbnail2.gif");
  background-size: cover;
  display: block;
  width: 100%;
  height: 60%;
}
.visual .inner .fortpolio .forex .foo1{
  width: 98%;
  height: 90.2px;
  padding: 5px;
  padding-left: 20px;
  padding-top: 15px;
}
.visual .inner .fortpolio .forex .footer1{
  height: 20px;
  width: 98%;
  padding: 5px;
  padding-left: 20px;
}

.visual .inner2 .post-area {
	max-width: 768px;
}

.visual .inner2 .post-area .post-box{
	width: 100%;
	padding-bottom: 20px;
	margin-bottom: 50px;
	position: relative;
}

.visual .inner2 .post-area .post-box .post-thumbnail {
	width: 768px;
	height: 402px;
	margin-bottom: 20px;
}

.post-box img {
	position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 402px;
    display: block;
    object-fit: cover;
}

.visual .inner2 .post-area .post-box .subinfo a{
	text-decoration: none;
	color: black;
}

.visual .inner3 .postingForm .form-group {
	text-align: center;
	margin-top: 20px;
}

.visual .inner3 .postingForm .form-group #postTitle{
	width: 960px;
	border: none;
	font-size: 20px;
	padding: 10px;
}
.visual .inner3 .postingForm .form-group button {
	width: 100px;
	padding: 10px;
	border: none;
	border-radius: 10px;
	box-shadow: 5px 5px 10px lightgray;
	margin: 0px 10px 0px 10px;
	background-color: #2E2E2E;
	color: white;
}
.visual .inner3 .myinform {
	width: 500px;
	margin: 0 auto;
	padding-left: 50px;
	line-height: 1.8em;
}
.visual .inner3 .myinform input{
	padding: 5px;	
	width: 300px;
	margin-bottom: 20px;
}

.visual .side-menu {
	position: absolute;
	left: 200px;
	top: 400px;
	transition: 0.3s;
}

.visual .side-menu.sticky {
	position: fixed;
	left: 200px;
	top: 200px;
}

.visual .side-menu a{
	color: black;
	text-decoration: none;
}

.visual .side-menu ul{
	line-height: 2em;
}

.visual .side-menu .side-menu-title {
	/* border: 1px dotted red; */
	line-height: 1.5em;
}

.visual .replyTable {
	width: 100%;
}
.visual .replyTable th{
	border-bottom: 2px solid gray;
	padding: 15px;
	font-weight: 700;
}
.visual .replyTable th:first-child{
	width: 150px;
}
.visual .replyTable th:nth-child(2){
	width: 550px;
}
.visual #replyTable td{
	border-bottom: 1px dotted lightgray;
	padding: 15px;
}
#addReply {
	float: right;
}
#replyInsert {
	width: 960px; margin: 0 auto; text-align: center;
}
#replyInsert h3 {
	text-align: left;
}
#replyInsert textarea {
	padding: 7px;
}
#replyInsert button {
	float: right;
}

.btn-like {
  color: transparent;
  text-shadow: 0 0 2px rgba(255,255,255,.7), 0 0 0 #000;
  width: 100px;
  background-color: white;
  border: 0;
}
.btn-like:hover {
  text-shadow: 0 0 0 #ea0;
}
.btn-like.done {
  color: inherit;
  text-shadow: 0;
}
.btn-like.done:hover {
  color: transparent;
  text-shadow: 0 0 0 #777;
}
/* FOOTER */
footer{
  position: absolute;
  background-color: #272727;
  border-top: 1px solid #333;
  width: 100%;
  height: 350px;
}
footer .inner{
  padding-top: 40px;
}
footer .menu{
  display: flex;
  justify-content: center;
}
footer .menu li{
  position: relative;
}
footer .menu li::before{
  content: "";
  width: 3px;
  height: 3px;
  background-color: #555;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -1px;
  margin: auto;
}
footer .menu li:last-child::before{
  display: none;
}
footer .menu li a{
  color: #ccc;
  font-size: 12px;
  font-weight: 700;
  padding: 15px;
  display: block;
}
footer .menu li a.green{
  color: #669900;
}
footer .btn-group{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
footer .btn-group .btn{
  font-size: 12px;
  margin-right: 10px;
}
footer .btn-group .btn:last-child{
margin-right: 0;
}
footer .info{
  margin-top: 30px;
  text-align: center;
}
footer .info span{
  margin-right: 20px;
  color: #999;
  font-size: 12px;
}
footer .info span:last-child{
  margin-right: 0;
}
footer .copyright{
  color: #999;
  font-size: 12px;
  text-align: center;
  margin-top: 12px;
}
footer .logo{
  margin: 30px auto 0;
}
/* etc */
.img_title{
  width: 75px;
  height: 75px;
}
footer .inner .logo{
  width: 75px;
  height: 75px;
}

