<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>porlog</title>
  <!-- 오픈그래프 -->
 <!-- 오픈그래프 -->
 <meta property="og:type" content="website" />
 <meta property="og:site_name" content="porlog" />
 <meta property="og:title" content="Belog KOSTA KOREA" />
 <meta property="og:description" content="porlog는 2021년6월1일~7월12일에 개발한 홈페이지입니다." />
 <meta property="og:image" content="images/logo-1.png" />
 <meta property="og:url" content="" />
 <!-- 트위터카드  -->
 <meta property="twitter:card" content="summary" />
 <meta property="twitter:site" content="porlog" />
 <meta property="twitter:title" content="porlog는 KOSTA KOREA" />
 <meta property="twitter:description" content="Belog는 2021년6월1일~7월12일에 개발한 홈페이지입니다." />
 <meta property="twitter:image" content="images/logo-1.png" />
 <meta property="twitter:url" content="" />
  <!-- 구글 폰트 -->
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet" />
  <!--구글 아이콘API  -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <!-- 브라우져 기본 스타일 초기화  -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
  <!-- 브라우져 타이틀 이미지 -->
  <link rel="icon" href="images/logo-1.png">
  <!-- css  -->
  <link rel="stylesheet" href="css/sample.css">
  <link rel="stylesheet" href="css/sidemenu.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <!-- js -->
  <script defer src="js/sample.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
</head>

<body>
  <!-- HEADER -->
  <header>
    <div class="inner">
      <a href="/index" class="logo"><img src="images/logo-2.png" alt="Belog" class="img_title"></a>
      <div class="sub-menu">
        <ul class="menu">
          	<li sec:authorize="!isAuthenticated()"><a href="#" data-toggle="modal" data-target="#myModal" id="">로그인 </a></li>
			<li sec:authorize="isAuthenticated()"><span sec:authentication="principal.username" id="logouttext"></span></li> 
			<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">로그아웃</a></li>
			<li sec:authorize="!isAuthenticated()"><a href="#" data-toggle="modal" data-target="#exampleModal">회원가입</a></li>
        </ul>
        <div class="search">
          <input type="text">
          <div class="material-icons">
            search
          </div>
        </div>
      </div>
      <ul class="main-menu">
        <li class="item">
          <div class="item__name"><div class="material-icons">menu</div></div>
          <div class="item__contents">
            <div class="contents__menu">
              <ul class="inner">
                <li>
                  <h4>채용정보</h4>
                  <ul>
                    <li>지역별</li>
                    <li>직업별</li>
                  </ul>
                </li>
                <li>
                  <h4>폴로그</h4>
                  <ul>
                    <li></li>
                    <li></li>
                  </ul>
                </li>
                <li>
                  <h4>내 폴로그</h4>
                  <ul>
                    <li>폴로그 확인</li>
                    <li>폴로그 수정</li>
                    <li>폴로그 삭제</li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="contents__texture">
              <div class="inner">
                <!-- <h4>나와 어울리는 커피 찾기</h4>
                <p>스타벅스가 여러분에게 어울리는 커피를 찾아드립니다.</p>
                <h4>최상의 커피를 즐기는 법</h4>
                <p>여러가지 방법을 통해 다양한 풍미의 커피를 즐겨보세요.</p> -->
              </div>
            </div>
          </div>
        </li>
        <li class="item">
          <div class="item__nameA">
          	<a th:href="@{/jInfo}">채용정보</a>
          </div>
        </li>
        <li class="item">
          <div class="item__nameA">
          	<a th:href="@{/blogList}">폴로그</a>
          </div>
        </li>
        <li class="item">
          <div class="item__nameA">
          	<div sec:authorize="isAuthenticated()">
				<a th:href="@{/basic(userID=${user?.userID})}" >내 폴로그</a>
			</div>
			<div sec:authorize="isAnonymous()">
				<a th:href="@{/basic}" >내 폴로그</a>
			</div>
          </div>
        </li>
      </ul>
    </div>
  </header>
  
<!-- Modal -->
<!--로그인  -->
<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog" style="width: 350px;" >
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Login</h4>
			</div>
			<div class="modal-body">
				<form method="post" action="index">
					<div class="form-group">
						<label for="exampleInputName">ID</label>
						<input type="text" class="form-control" id="exampleInputName" name="username" placeholder="아이디">
						<a href="#" data-toggle="modal" id="registerCheck" >아이디 중복체크</a>
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Password</label>
						<input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password">  
					</div>
					<input type="checkbox" name="idcheck" id="idSaveCheck" onClick="confirmSave(this)"> 아이디저장<br>
					<input type="submit" class="btn btn-primary" id="login-login" value="login">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button><br>
				</form>
			</div>
			<div style="text-align: center;">
				<a href="#" data-toggle="modal" data-target="#exampleModal" id="registersend">회원가입</a>
				<a href="#" data-toggle="modal" data-target="#exampleModalID" id="IDFind">아이디 찾기</a>
				<a href="#" data-toggle="modal" data-target="#exampleModalPW" id="PWFind">비밀번호 찾기</a>
			</div>
		</div>
	</div>
</div>
  
  
  
  
  
  
  
  
  <!-- VISUAL   조원분들이 건드려야할 부분-->
  <section class="visual">
  	<div class="information" style="width: 760px; margin: 0 auto; text-align: left; padding-top: 90px;">
		<span style="font-size: 25px;"><b>[[${myblog.user.nickname}]]</b></span><span> / <i>[[${myblog.user.address}]]</i></span>
		<h5><b>H.P.</b>&nbsp; [[${myblog.user.phone}]] &nbsp; · &nbsp; <b>Email</b> &nbsp;[[${myblog.user.email}]]</h5>
	</div>
	<hr style="width: 760px;">
  
  	<div style="width: 760px; margin: 0 auto; text-align: left; padding-top: 50px;">
		
		<h2><b>[[${myblog.blogTitle}]]</b></h2>
  	</div>
  	<hr style="width: 760px;">
  	<div class="side-menu">
		<div class="side-menu-title">
			<h3><b>category</b></h3>
			<hr>
		</div>
		
		<ul>
			<li th:if="${myblog.blogID} == 0">
				<a th:href="@{/blogInsert(userID=${myblog.user?.userID})}">블로그 생성</a>
			</li>
			<li th:unless="${myblog.blogID} == 0">
				<a th:href="@{/blogUpdate(userID=${myblog.user?.userID})}">블로그 수정</a>
			</li>
			<li>
				<a th:href="@{/userDetail}">내정보 수정</a>
			</li>
			<li>
				<a th:href="@{/posting(blogID=${myblog.blogID})}">게시글 작성</a>
			</li>
		</ul>
	
	</div>
  	
    <div class="inner2">
	
	
	
	
	<div class="post-area">
		<div class="post-box" th:each="post:${postlist}">
			<div class="post-thumbnail">
				<a th:href="@{/postDetail(postID=${post.postID})}">
					<img th:src="${post.postThumbnail}" />
				</a>
			</div>
			<div class="subinfo">
				<a th:href="@{/postDetail(postID=${post.postID})}"><h2><b>[[${post.postTitle}]]</b></h2></a>
				<span>[[${post.postDate}]]</span>
				<span>조회수 [[${post.viewCnt}]] </span>
				<button class="btn-like">👍<p id="likecnt" >[[${post.likeCnt}]]</p> </button>
				<form id="likeform">
					<input type="hidden" name="blogID" th:value="${blogID}">
					<input type="hidden" name="postID" th:value="${post.postID}">
					<input type="hidden" name="like" id="like" value="0">
				</form>
			</div>
			<br><br><hr>
		</div>
	</div>
	
    </div>
    
    
    
    
    
    
    
    
  </section>


  <!-- FOOTER -->
  <footer>
    <div class="inner">
      <ul class="menu">
        <li><a href="javascript:void(0)" class="green">개인정보처리방침</a></li>
      </ul>
      <div class="btn-group">
        <a href="javascript:void(0)" class="btn btn--white">찾아와라1</a>
        <a href="javascript:void(0)" class="btn btn--white">찾아와라2</a>
        <a href="javascript:void(0)" class="btn btn--white">찾아와라3</a>
      </div>
      <div class="info">
        <span>배윤호</span>
        <span>강희원</span>
        <span>임상혁</span>
        <span>배재영</span>
        <span>정한영</span>
      </div>
      <p class="copyright">
        &copy;<span class="this-year"></span>KOSTA TEAM4
      </p>
      <img src="./images/logo-2.png" alt="" class="logo">
    </div>

  </footer>

<script>
$(".btn-like").click(function() {
	var p=Number($('#likecnt').html());
	
	alert($(this).attr("class"));
	$(".btn-like").toggleClass("done");
	if($(this).attr("class").indexOf("done")>=0){
	     $('#likecnt').text(p+1);
	     $("#like").val(1);
	}else{
	     $('#likecnt').text(p-1);
	      $("#like").val(-1);
	}
	
 	  $.ajax({
 		url:'likepost',
		type:'POST',
		data:$('#likeform').serialize(),
		success: function(data) {	
		},
		error:function(){
			
		}
 	 });
	
});

$(function() {
	var wind = $(window),
		header = $('.side-menu'),
		headerOffsetTop = header.offset().top;
	wind.scroll(function() {
		if($(this).scrollTop() > headerOffsetTop) {
			header.addClass('sticky');
		} else {
			header.removeClass('sticky');
		}
	});
});

$(document).ready(function(){
	 $("#logouttext").append("님 환영합니다");
});

</script>

</body>

</html>