<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>porlog</title>
  
<!-- 오픈그래프 -->
<meta property="og:type" content="website" />
<meta property="og:site_name" content="porlog" />
<meta property="og:title" content="Belog KOSTA KOREA" />
<meta property="og:description" content="porlog는 2021년6월1일~7월12일에 개발한 홈페이지입니다." />
<meta property="og:image" content="images/logo-1.png" />
<meta property="og:url" content="" />
<!-- 트위터카드  -->
<meta property="twitter:card" content="summary" />
<meta property="twitter:site" content="porlog" />
<meta property="twitter:title" content="porlog는 KOSTA KOREA" />
<meta property="twitter:description" content="Belog는 2021년6월1일~7월12일에 개발한 홈페이지입니다." />
<meta property="twitter:image" content="images/logo-1.png" />
<meta property="twitter:url" content="" />
<!-- 구글 폰트 -->
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet" />
<!--구글 아이콘API  -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<!-- 브라우져 기본 스타일 초기화  -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
<!-- 브라우져 타이틀 이미지 -->
<link rel="icon" href="images/logo-1.png">
<!-- css  -->
<link rel="stylesheet" href="css/sample.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!-- 에디터 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.css">
<link rel="stylesheet" th:href="@{/css/toastui-editor.css}" />
<!-- js -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script defer src="js/sample.js"></script>

</head>

<body>
  <!-- HEADER -->
  <header>
    <div class="inner">
      <a href="/index" class="logo"><img src="images/logo-2.png" alt="Belog" class="img_title"></a>
      <div class="sub-menu">
        <ul class="menu">
          	<li sec:authorize="!isAuthenticated()"><a href="#" data-toggle="modal" data-target="#myModal" id="">로그인 </a></li>
			<li sec:authorize="isAuthenticated()"><span sec:authentication="principal.username" id="logouttext"></span></li> 
			<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">로그아웃</a></li>
			<li sec:authorize="!isAuthenticated()"><a href="#" data-toggle="modal" data-target="#exampleModal">회원가입</a></li>
        </ul>
        <div class="search">
          <input type="text">
          <div class="material-icons">
            search
          </div>
        </div>
      </div>
      <ul class="main-menu">
        <li class="item">
          <div class="item__name"><div class="material-icons">menu</div></div>
          <div class="item__contents">
            <div class="contents__menu">
              <ul class="inner">
                <li>
                  <h4>채용정보</h4>
                  <ul>
                    <li>지역별</li>
                    <li>직업별</li>
                  </ul>
                </li>
                <li>
                  <h4>폴로그</h4>
                  <ul>
                    <li></li>
                    <li></li>
                  </ul>
                </li>
                <li>
                  <h4>내 폴로그</h4>
                  <ul>
                    <li>폴로그 확인</li>
                    <li>폴로그 수정</li>
                    <li>폴로그 삭제</li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="contents__texture">
              <div class="inner">
              </div>
            </div>
          </div>
        </li>
        <li class="item">
          <div class="item__nameA">
          	<a th:href="@{/jInfo}">채용정보</a>
          </div>
        </li>
        <li class="item">
          <div class="item__nameA">
          	<a th:href="@{/blogList}">폴로그</a>
          </div>
        </li>
        <li class="item">
          <div class="item__nameA">
			<div sec:authorize="isAuthenticated()">
				<a th:href="@{/basic(userID=${user?.userID})}">내 폴로그</a>
			</div>
			<div sec:authorize="isAnonymous()">
				<a th:href="@{/basic}" >내 폴로그</a>
			</div>
          </div>
        </li>
      </ul>
    </div>
  </header>
  

  
  <!-- VISUAL   조원분들이 건드려야할 부분-->
  <section class="visual">
  
  <br><br>
  <div class="inner3" >
	  <h1 style="text-align: left; font-weight: 800; font-family: 나눔고딕; font-size: 55px; padding-top: 50px;">[[${postcontent.post.postTitle}]]</h1>
	  <p style="margin:35px 10px 50px 0px; "><b>[[${postcontent.post.blog.user.nickname}]]</b> · 조회수 [[${postcontent.post.viewCnt}]]</p>
	
	  <!-- 에디터 마크다운 -->
	  <div id="viewer" onclick="ToView();" style="margin-bottom: 100px;">
	    <input type="hidden" name="postcontents" th:value="${postcontent.contents}">
	  </div>
	  <div sec:authorize="isAuthenticated()">
	  	<!--  <a th:href="@{/postUpdate(post=${post})">게시물 수정</a> -->
	 	<a th:href="@{/postUpdate(postID=${postcontent.post.postID},contents=${postcontent.contents},blogID=${blogID})}" class="update-btn">게시글 수정</a>
		<a th:href="@{/postDelete(postID=${postcontent.post.postID})}" class="delete-btn">게시글 삭제</a>
	  </div>
	  <div sec:authorize="isAnonymous()">
		
	  </div>
  </div>
    
    
    
    
    <!-- 댓글목록 -->
	<div style="width: 960px; margin: 0 auto;">
		<table class="replyTable">
			<thead>
				<tr>
					<th>작성자</th>
					<th>내용</th>
					<th>작성날짜</th>
				</tr>
			</thead>
			<tbody id="replyTable" data-toggle="modal" data-target="#replyModal">
				
			</tbody>
		</table>
		<br>
		<button id="addReply" data-toggle="modal" data-target="#replyModal">댓글 작성</button>
    </div>
  </section>
 
 
 
	<!-- Modal -->
	<div id="replyModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			    <h4 class="modal-title">댓글입력하기</h4>
			</div>
			    <div class="modal-body">
					<label>댓글내용</label>
					<input type="text" name="reply" class="form-control">
					<input type="hidden" name="replyUser" class="form-control" th:value="${user.userID}">
				</div>
				<div class="modal-footer">
			        <button type="button" id="modalButton" class="btn btn-default" data-dismiss="modal">입력 / 수정</button>
			        <button type="button" id="delButton" class="btn btn-danger" data-dismiss="modal">삭제</button>
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
		    </div>
		</div>
	</div>



  <!-- FOOTER -->
  <footer>
    <div class="inner">
      <ul class="menu">
        <li><a href="javascript:void(0)" class="green">개인정보처리방침</a></li>
      </ul>
      <div class="btn-group">
        <a href="javascript:void(0)" class="btn btn--white">찾아와라1</a>
        <a href="javascript:void(0)" class="btn btn--white">찾아와라2</a>
        <a href="javascript:void(0)" class="btn btn--white">찾아와라3</a>
      </div>
      <div class="info">
        <span>배윤호</span>
        <span>강희원</span>
        <span>임상혁</span>
        <span>배재영</span>
        <span>정한영</span>
      </div>
      <p class="copyright">
        &copy;<span class="this-year"></span>KOSTA TEAM4
      </p>
      <img src="./images/logo-2.png" alt="" class="logo">
    </div>
  </footer>


<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script th:src="@{/js/reply.js}"></script>
<script th:src="@{/js/toastui-editor-all.min.js}"></script>
<script>
   
	var mode= "";
	$("#addReply").click(function() {
		$("input[name='reply']").val("");
		$("input[name='replyUser']").val("");
		$("#replyModal").show();
		$(".modal-title").text("댓글을 추가합니다.")
		mode= "ADD";
	});
	
	$("#replyTable").on("click", "tr", function() {
		mode = "MOD";
		var tds = $(this).find("td");
		replyNO = tds[3].innerHTML;
		var reply = tds[1].innerHTML;
		var replyUser = tds[0].innerHTML;
		$("input[name='reply']").val(reply);
		$("input[name='replyUser']").val(replyUser);
		$("#replyModal").show();
		$(".modal-title").text("수정 또는 삭제 작업")
	});
	
	
	$("#modalButton").click(function() {
		var reply = $("input[name='reply']");
		var replyUser = $("input[name='replyUser']");
		var obj = {
			"postID": "[[${postcontent.post.postID}]]",  
			"reply": reply.val(),
			"replyUser": replyUser.val()};
		if(mode == "ADD") {
			console.log(obj);
			replyManager.add(obj, printList);
  	  		reply.val("");
  	  		replyUser.val("");
		} else if(mode == "MOD") {   		
			obj["replyNO"] = replyNO;
		 	replyManager.update(obj, printList);
			alert("댓글이 수정되었습니다.");
			reply.val("");
			replyUser.val("");
		}
	});
	
	$("#delButton").click(function() {
		var reply = $("input[name='reply']");
		var replyUser = $("input[name='replyUser']");
		var obj = {
			"postID":"[[${postcontent.post.postID}]]", "replyNO": replyNO };
		replyManager.remove(obj, printList);
		alert("댓글이 삭제되었습니다.");
		$("#replyModal").hide();
		reply.val("");
		replyUser.val("");
    });
	
	//console.log(replyManager); //{"getAll":function(){}, ........}
	replyManager.getAll("[[${postcontent.post.postID}]]",  printList);
   
	//replyTable 공간에 댓글에 관한 데이터를 출력한다.
	function printList(rList){
		console.log(rList);
		var str="";
		$.each(rList, function(idx, item) {
			str += "<tr>";
			str += "<td>" + item["replyUser"]["nickname"] + "</td>";
			str += "<td>" + item["reply"] + "</td>";
			str += "<td>" + item["replyDate"] + "</td>";
			str += "<td style='display:none'>" + item["replyNO"] + "</td>";
			str += "</tr>";
		});
		$("#replyTable").html(str);
	}
	
    $(document).ready(function(){
   	 $("#logouttext").append("님 환영합니다");
   		ToView();
   });
    
    
//에디터
    
    const content = [].join('\n');
    
    const viewer = toastui.Editor.factory({
        el: document.querySelector('#viewer'),
        viewer: true,
        height: '500px',
        initialValue: content
    });

    function ToView() {
    	var data = $("input[name='postcontents']").val();
        viewer.setMarkdown(data);
    };
    
    $('#registerLogin').click(function(){
   	 $('#exampleModal').modal('hide'); 
   	 $('#myModal').modal('show'); 
   });

   $('#registersend').click(function(){
   	 $('#myModal').modal('hide'); 
   });

   $('#IDFind').click(function(){
   	 $('#myModal').modal('hide'); 
   });

   $('#PWFind').click(function(){
   	 $('#myModal').modal('hide'); 	 
   });

   $('#cancel-btn').click(function(){
   	 $('#myModal').modal('show'); 
   });

   $('#cancel-btn2').click(function(){
   	 $('#myModal').modal('show'); 	 
   });

   $('#registerCheck').click(function(){
   	var id =$("#userID").val();
   	
   	
   	$.ajax({
   		 url: 'ID_Check',
   		    type: 'POST',
   		    dataType: 'text', //서버로부터 내가 받는 데이터의 타입
   		    contentType : 'text/plain; charset=utf-8;',//내가 서버로 보내는 데이터의 타입
   		    data: id,
   		    success: function(data){
   		        
   		    	
   		     	if(data == 0){		        	 
   		         console.log("아이디 없음");
   		         alert("사용하실 수 있는 아이디입니다.");
   		         }
   		   		     	else{
   		         	console.log("아이디 있음");
   		         	alert("중복된 아이디가 존재합니다.");
   		         	$("#userID").val('');
   		         	
   		         } 
   		    },
   		    error: function (){        
   		                      
   		    }
   	}); 
   	
   });


   //아이디 찾기
   $('#findId').click(function(){

   	 $.ajax({
   		 url: 'findId',
   		    type: 'POST',
   		    data:$('#idcatch').serialize(),
   		    success: function(data){
   		   console.log(data);
   		        
   		        $('#exampleModalID').modal('hide'); 
   		   		$('#FindIDModal').modal('show');
   		   		$('#catchId').html('<h1>아이디:'+data+'입니다</h1>');
   		   		
   		     	
   		    },
   		    error: function (){        
   		                      
   		    }
   	});  
   });
   //인증번호
   var first="";
   //아이디
   var fid="";
   //비밀번호찾기
   $('#findPW').click(function(){
   	
   	$("#aa").css("display","block");
   	$("#aa").css("color","blue");
   	$("#aa").show();
   	
   	 $.ajax({
   		 url: 'findpw',
   		    type: 'POST',
   		    data:$('#pwcatch').serialize(),		   
   		    success: function(data){		    	
   		        $("#exampleModalPW").modal("hide");
   		    	$("#mail").modal("show");
   		   		/* $("#emailnumber").val(data); */
   		     	first=data.test1;
   		   		fid=data.test2
   		   		$("#requireID").val(fid);
   		   		
   		    },
   		    error: function (){        
   		                      
   		    }
   	});  
   });
   //이메일 인증 관련
   $('#permitcheck').click(function(){
   	
   	$.ajax({
   		url:'changepw',
   		type:'POST',
   		data:$('#emailcatch').serialize(),
   		success: function(data){			
   			if(data==first){
   				
   				$("#mail").modal("hide");
   				$("#SettingPW").modal("show");
   			}
   			else{
   				alert("인증번호를 잘못입력하였습니다.");
   			}
   			
   		},
   		error:function(){
   			
   		}
   	});
   });
   //비밀번호재설정
   $('#setpwbtn').click(function(){
   	
   	$.ajax({
   		url:'setpwform',
   		type:'POST',
   		data:$('#settingpwform').serialize(),
   		success: function(data){			
   			
   			$('#SettingPW').modal('hide');
   			
   		},
   		error:function(){
   			
   		}
   	});
   });
    
</script>


</body>

</html>