<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>porlog</title>
  
<!-- 오픈그래프 -->
<meta property="og:type" content="website" />
<meta property="og:site_name" content="porlog" />
<meta property="og:title" content="Belog KOSTA KOREA" />
<meta property="og:description" content="porlog는 2021년6월1일~7월12일에 개발한 홈페이지입니다." />
<meta property="og:image" content="images/logo-1.png" />
<meta property="og:url" content="" />
<!-- 트위터카드  -->
<meta property="twitter:card" content="summary" />
<meta property="twitter:site" content="porlog" />
<meta property="twitter:title" content="porlog는 KOSTA KOREA" />
<meta property="twitter:description" content="Belog는 2021년6월1일~7월12일에 개발한 홈페이지입니다." />
<meta property="twitter:image" content="images/logo-1.png" />
<meta property="twitter:url" content="" />
<!-- 구글 폰트 -->
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet" />
<!--구글 아이콘API  -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<!-- 브라우져 기본 스타일 초기화  -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
<!-- 브라우져 타이틀 이미지 -->
<link rel="icon" href="images/logo-1.png">
<!-- css  -->
<link rel="stylesheet" href="css/sample.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- js -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script defer src="js/sample.js"></script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>

<body>
  <!-- HEADER -->
  <header>
    <div class="inner">
      <a href="/index" class="logo"><img src="images/logo-2.png" alt="Belog" class="img_title"></a>
      <div class="sub-menu">
        <ul class="menu">
			<li sec:authorize="!isAuthenticated()"><a href="#" data-toggle="modal" data-target="#myModal" id="">로그인 </a></li>
			<li sec:authorize="isAuthenticated()"><span sec:authentication="principal.username" id="logouttext"></span></li> 
			<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">로그아웃</a></li>
			<li sec:authorize="!isAuthenticated()"><a href="#" data-toggle="modal" data-target="#exampleModal">회원가입</a></li>
        </ul>
        <div class="search">
          <input type="text">
          <div class="material-icons">
            search
          </div>
        </div>
      </div>
      <ul class="main-menu">
        <li class="item">
          <div class="item__name"><div class="material-icons">menu</div></div>
          <div class="item__contents">
            <div class="contents__menu">
              <ul class="inner">
                <li>
                  <h4>채용정보</h4>
                  <ul>
                    <li>지역별</li>
                    <li>직업별</li>
                  </ul>
                </li>
                <li>
                  <h4>폴로그</h4>
                  <ul>
                    <li></li>
                    <li></li>
                  </ul>
                </li>
                <li>
                  <h4>내 폴로그</h4>
                  <ul>
                    <li>폴로그 확인</li>
                    <li>폴로그 수정</li>
                    <li>폴로그 삭제</li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="contents__texture">
              <div class="inner">
                <!-- <h4>나와 어울리는 커피 찾기</h4>
                <p>스타벅스가 여러분에게 어울리는 커피를 찾아드립니다.</p>
                <h4>최상의 커피를 즐기는 법</h4>
                <p>여러가지 방법을 통해 다양한 풍미의 커피를 즐겨보세요.</p> -->
              </div>
            </div>
          </div>
        </li>
        <li class="item">
          <div class="item__nameA">
          	<a th:href="@{/jInfo}">채용정보</a>
          </div>
        </li>
        <li class="item">
          <div class="item__nameA">
          	<a th:href="@{/blogList}">폴로그</a>
          </div>
        </li>
        <li class="item">
          <div class="item__nameA">
          	<div sec:authorize="isAuthenticated()">
				<a th:href="@{/basic(userID=${user?.userID})}" >내 폴로그</a>
			</div>
			<div sec:authorize="isAnonymous()">
				<a th:href="@{/basic}" >내 폴로그</a>
			</div>
          </div>
        </li>
      </ul>
    </div>
  </header>
  
<!-- Modal -->
<!--로그인  -->
<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog" style="width: 350px;" >
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Login</h4>
			</div>
			<div class="modal-body">
				<form method="post" action="index">
					<div class="form-group">
						<label for="exampleInputName">ID</label>
						<input type="text" class="form-control" id="exampleInputName" name="username" placeholder="아이디">
						<a href="#" data-toggle="modal" id="registerCheck" >아이디 중복체크</a>
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Password</label>
						<input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password">  
					</div>
					<input type="checkbox" name="idcheck" id="idSaveCheck" onClick="confirmSave(this)"> 아이디저장<br>
					<input type="submit" class="btn btn-primary" id="login-login" value="login">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button><br>
				</form>
			</div>
			<div style="text-align: center;">
				<a href="#" data-toggle="modal" data-target="#exampleModal" id="registersend">회원가입</a>
				<a href="#" data-toggle="modal" data-target="#exampleModalID" id="IDFind">아이디 찾기</a>
				<a href="#" data-toggle="modal" data-target="#exampleModalPW" id="PWFind">비밀번호 찾기</a>
			</div>
		</div>
	</div>
</div>
  
  
  
  
  
  
  
  <!-- VISUAL   조원분들이 건드려야할 부분-->
  <section class="visual">
	<div style="width: 760px; margin: 0 auto; text-align: left; padding-top: 50px;">
		<h2><b>[[${blog.user.nickname}]]</b></h2>
		<p>[[${blog.blogTitle}]]</p>
  	</div>
  	<hr style="width: 760px;">
  	
  	<div class="side-menu">
		<div class="side-menu-title">
			<h3><b>게시물 카트</b></h3>
			<hr>
		</div>
		
		
		<div id="cart" style="width: 200px; min-height: 200px; border: 5px dotted  rgb(145, 106, 6);">
	    </div>
	
	</div>
  	
  	
  	
  	
  	
    <div class="inner2">
    
	<div class="post-area">
		<div class="post-box" th:each="post:${postlist}">
			<div class="post-thumbnail">
				<a th:href="@{/postDetail(postID=${post.postID})}">
					<img th:src="${post.postThumbnail}" />
					<input type="hidden" class="postID" th:value="${post.postID}"/>
				</a>
			</div>
			<div class="subinfo">
				<a th:href="@{/postDetail(postID=${post.postID})}"><h2><b>[[${post.postTitle}]]</b></h2></a>
				<span>[[${post.postDate}]]</span>
				<span>조회수 [[${post.viewCnt}]] </span>
				<button th:class="'btn-like'+${post.postID}" th:id="'likecnt'+${post.postID}" th:onclick="'like(\'likecnt'+${post.postID}+'\',\'btn-like'+${post.postID}+'\')'" th:text="'👍'+${post.likeCnt}" style=" color: transparent;text-shadow: 0 0 2px rgba(255,255,255,.7), 0 0 0 #000; width: 100px;background-color: white;border: 0;"></button>
				<form th:id="'likeform'+${post.postID}">
					<input type="hidden" name="blogID" th:value="${blogID}">
					<input type="hidden" name="postID" id="example"  th:value="${post.postID}">
					<input type="hidden" name="like" id="like" th:value="${post.likeCnt}">
					<input type="hidden" name="pcheck" th:id="'check'+${post.postID}" th:value="0">
					<input type="hidden" name="ucheck" id="ucheck" th:value="${user.authLV}">
					<input type="hidden" name="uid" id="uid" th:value="${user.userID}">
				</form>
			</div>
			<br><br><hr>
		</div>
		
	</div>
    </div>
  </section>
 



  <!-- FOOTER -->
  <footer>
    <div class="inner">
      <div class="info">
        <span>배윤호</span>
        <span>강희원</span>
        <span>임상혁</span>
        <span>배재영</span>
        <span>정한영</span>
      </div>
      <p class="copyright">
        &copy;<span class="this-year"></span>KOSTA TEAM4
      </p>
      <img src="./images/logo-2.png" alt="" class="logo">
    </div>
  </footer>

<script>

function like(id,cc){
	//버튼 아이디
	var key=Number(id.substr(7));
	//requestmapping에 넘길값에 key값 넣기
	$("#example").val(key);
	//버튼 아이디 관련
	var a= "#"+id;
	var p =$(a).text();	
	var h= Number(p.substr(2,4));
	//기타 내용
	var likea=Number($("#like").val());
	
	//버튼 클래스
	$("."+cc).toggleClass("done");
	
	//////var fa= Number($("#check"+key).val()); 
	
	//버튼 클래스 관련
	var s ="."+cc;
	//버튼 스타일
	$(s+':hover').css('text-shadow', '0 0 0 #ea0');
	
	
	//클릭할때 done이 되고 페이지를 나가도 저장이되어라!!
	
	 if($(a).attr("class").indexOf("done")>=0){ 
		 $(s).css('color', 'inherit');
		 $(s).css('text-shadow', '0');
		 $(a).text(h+1).prepend('👍');
	   
	   
  			$("#like").val(likea+1); 
  			
		 
	}else{
		 $(s).css('color', 'transparent');
		 $(s).css('text-shadow', '0 0 0 #777');
		 
		 $(a).text(h-1).prepend('👍');
			$("#like").val(likea-1); 
			
	} 
	console.log($('#likeform'+key).serializeArray());
	 $.ajax({
	 		url:'likepost',
			type:'POST',
			data:$('#likeform'+key).serializeArray(),
			success: function(data){
				
				$("#check"+key).val(data);
				
			},
			error:function(){
				
			}
	 	 }); 
	 
}







$(document).ready(function(){
	 $("#logouttext").append("님 환영합니다");
});


/* side menu */
$(function() {
	var wind = $(window),
		header = $('.side-menu'),
		headerOffsetTop = header.offset().top;
	wind.scroll(function() {
		if($(this).scrollTop() > headerOffsetTop) {
			header.addClass('sticky');
		} else {
			header.removeClass('sticky');
		}
	});
});



//------------------cart부분-------------------


function displayCart(data) {
    var s = '';
    var sum = 0;
    var pp = '';
    for (var i= 0; i < data.length; i++) {
        sum += parseInt(data[i].quantity)
        console.log(data[i].post.postThumbnail);
        s += '<br><img src="'+data[i].post.postThumbnail+'" width="70" height="50">';
        s += 'Id: ' + data[i].post.postID;
        s += '<br>Name: ' + data[i].post.postTitle;
        s += `<br><a href="javascript:del('${data[i].post.postID}')" id=delete>Delete</a>`; 
        s += '<br>---------------------------------------';
    } 
    s += '<br>담은 게시물 : ' + sum;
    
    $('#cart').html(s);
}

//cart에서 삭제
function del(postID){
    $.ajax({
        type: 'GET',
        dataType: 'json',
        contentType: 'application/json',
        url: '/cart/delete/' + postID,
        success: function (data) {
            displayCart(data);
        }
    });
}

$(document).ready(function() {
	//초기값 설정
	var s = '<br>담은 게시물 : 0';
	$('#cart').html(s);
	
	//이미지 드래그기능 설정
    $('.post-thumbnail img').css({
        'z-index' : 1
    }).draggable({
        'opacity' : '0.5',
        'revert' : true,
        'cursor' : 'pointer'
    });
    
	//이미지 드래그 시 cart에 담기
    $('#cart').droppable({
        drop: function (event, ui) {
            var postID = $(ui.draggable).siblings('.postID').val();
            var blogID = $("input[name='blogID']").val();
            //var data = {"postlist":$(".postlist").val(),};
            console.log(postID);
            console.log(blogID);
            $.ajax({
                type: 'GET',
                //data: data,
                //dataType: 'json',
                contentType: 'application/json',
                url: '/cart/buy/' + postID + '/' + blogID,
                success: function (data) {
                    displayCart(data);
                }
            });
        }
    });
});


</script>

</body>

</html>